*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{

 font-family: "Heebo", sans-serif;

}


.container{
    width: 1280px;
    height: 600PX;
 background-color: rgb(49, 52, 51);
    
  
    
}


.header{
    width: 1280px;
    height: 80px;
   background-color: rgb(49, 52, 51);
   


}

.main{
width: 1110px;
height: 80px;
 display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 0 15px;
    position: relative;
    margin-left: 95px;
 
}

.logo{
    font-size: 32px;
font-weight: 800;
line-height: 80px;
    text-align: justify;
    color: #fff;
}

#studio{
    color: #ed563b;
}

.nav-bar{
    margin-left: 200px;
    padding-top: 30px;
    
}
ul{
    display: flex;
    list-style: none;
    margin-bottom: 25px;
}

.nav-bar  ul a{
    text-decoration: none;
    padding-inline: 20px;
    color: #fff;
    font-size: 13px;
}


.signup{
  width: 5.9rem;
    background-color:#ed563b;
    margin-top: -10px;
    padding-block: 10px;
   
    padding-inline: -10px;
    
}

.text-center{
width: 64rem;
height: 13.9375rem;
   
    text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}

.work{
text-align: center;
    width: 60rem;
    height: 1,35rem;
    position: absolute;
    top:0;
    left: 50px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.5px;

}
 


.easy{
    width: 64rem;
    height: 1.63rem;
    margin-top: 30px;
  margin-bottom: 25px;
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  color:#fff;
}

em{
    
font-style: normal;
  color: #ed563b;
  font-weight: 900;

}

.become{

   background-color:  #ed563b;
   color:#fff;
   font-size: 15px;
  padding: 12px 20px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20%;
  margin-left: 45%;
  border: none;
}


@media(max-width:468px)
{

    
}






